snow:
  instance: devxxxxx                            #Service Now Instance
  user:                                         #Service Now Username. Account needs to have permissions to create and edit tickets
wait_time_seconds: 20                           #Time between checks
tickets_property_set: tickets                   #Property Set for tickets
management_property_set: Ticket Manager         #Property Set to manage this automation
devices_property_set: device_sys_ids            #Property Set for devices
