terraform {
  required_providers {
    apstra = {
      source = "Juniper/apstra"
      version = "0.53.0"
    }
  }
}

provider "apstra" {
  url = "https://$user:$passwd@$ip:$port/"
  tls_validation_disabled = true
  blueprint_mutex_enabled = false
  experimental = true
}
